#projects {
  display: grid;
  grid-template-areas: 'p1 p1' 'p2 p2';
  grid-gap: 1em;
  background-color: rgba(23, 107, 255, 0.0);
  padding: 1em;
  margin: 1em;
}

.project {
  padding: 2em;
  display: inline-block;
  background-color: rgba(140, 140, 140, 0.9);
}

.project ul { padding: 0.5em 2em; }
.project li { text-align: left; }
