#banner {
  padding: 2em 0;
  height: 30vh;
  background-image: url(src/imgs/banners/2_banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#gradient {
  background: rgba(45, 45, 45, 0.65);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2em 0;
  height: 30vh;
}

#logo {
  margin: 0 auto;
  background-image: url(../assets/imgs/logos/ftf-monochrome.png);
}

h1 {
  padding: 2.5vh 0;
  color: rgba(220,220,220,1);
  font-size: 120%;
}
