<div class="content">
    <h3>Frequently Asked Questions</h3>

    <dl>
      <dt>Where can I find your video-based work?</dt>
      <dd>
        <u>Short Answer:</u> Nowhere public.
        <br><br>
        <u>Long Answer:</u> Right now there is no way to <b>publicly</b> view our remaster of Code Lyoko because we quickly run into issues of copyright law/infringement. This especially considering Mediatoon is trying to maintain <a class="inline-link" target="_blank" href="https://www.youtube.com/channel/UCn9zTBZVl6lu72s-6fXttZg">a few official outlets</a> for CL viewing. Suffice it to say, they probably wouldn't be too happy with us trying to compete with them with easily higher quality work. We're also the first group, <i>(as far as we know)</i>, to upscale CL in its entirety to <b>1440p</b>, so it's fairly easy to trace any of our remasters back to us. Getting into legal fisticuffs with Mediatoon is the last thing we're looking for.
      </dd>

      <dt>Where can I find your subtitle-based work?</dt>
      <dd>
        <u>Short Answer:</u> On our <a class="inline-link" target="_blank" href="/subtitles">subtitles</a> page
        <br><br>
        <u>Long Answer:</u> We made the original transcripts via some simple typography rules via our <a class="inline-link" target="_blank" href="https://foxtrotfanatics.page.link/guide">transcription guide</a>, formatted them to a pre <b>Aegisub</b>-form via our <a class="inline-link" target="_blank" href="https://github.com/FoxtrotCore/script-eater">Script Eater Bot</a>, and then exported them from Aegisub as <span>.ASS</span> files. We also took the time to convert them to <span>.STI</span> files for YouTube compatibility. All is available via the subtitles link above.
      </dd>

      <dt>Can you upload your work to Pirates-Bay/MegaUpload/etc.?</dt>
      <dd>
        <u>Short Answer:</u> No.
        <br><br>
        <u>Long Answer:</u> At the beginning of this project, we set some standards. One of the first was that we are not a piracy gig. We're not looking to replace the official release. <i>(Which <a class="inline-link" target="_blank" href="https://www.youtube.com/channel/UCn9zTBZVl6lu72s-6fXttZg">you should probably support</a> if you want to incentivize Mediatoon to bring back CL)</i>. We're just quality snobs looking to make some good software and enjoy a good show along the way. Like we said in the question above, it's easy to trace our remastered work back to us, and we're not looking to get in trouble, legal or otherwise.
      </dd>

      <dt>Are you going to host any more CL-Community-Rewatches?</dt>
      <dd>
        <u>Short Answer:</u> No.
        <br><br>
        <u>Long Answer:</u> We've been doing the community rewatches for two straight years, and it was a blast. <b>However</b>, rewatches are hard to schedule, especially when trying to take into account both European and American time zones and the viewership levels don't warrant the time and effort it takes for us to do them.
      </dd>

      <dt>Can I organize a CL community rewatches?</dt>
      <dd>
        <u>Short Answer:</u> You absolutely can.
        <br><br>
        <u>Long Answer:</u> While FTF itself will not be hosting such events anymore, we'd be more than happy to try and sponsor your event and do our best to give you the resources needed to hold it. What resources we can offer are dependant on what it is you're looking to do, so it would be best to <a class="inline-link" target="_blank" href="#contact-us">contact us</a> privately and work out what is reasonable. At the minimum, we can offer subtitles as well as some basic setup/configs for <a class="inline-link" target="_blank" href="https://cytu.be/">CyTube</a>, a YouTube synchronizing platform we used to use for our own rewatches. We can also offer some tips/tricks from scheduling/modding from our two years of experience. <i>(Do note that this doesn't inherently include access to our remasters of the show, for most people/groups, we will not provide this)</i>.
      </dd>

      <dt>Are you going to upscale anything else? Like CL: Evolution?</dt>
      <dd>
        <u>Short Answer:</u> No.
        <br><br>
        <u>Long Answer:</u> Evolution is already in HD, so upscaling it wouldn't do much good. On top of that, Evolution is a live-action series, which makes upscaling it, not impossible but an absolute pain in the ___. Lots more research on better edge-finders for non-animated images would need to be done and FTU is not currently outfitted to handle such a task. You are absolutely welcome to take a shot at it for yourself because we've since made our <a class="inline-link" target="_blank" href="https://github.com/FoxtrotCore/FoxTrotUpscaler">Upscaler</a> open-source under <b>GPL 3.0</b>, so you're welcome to use it, <i>as is</i>, or modify it to work with something like CL: Evolution, if +1080p live-action and crapily written story arcs is your thing. <i>:P</i>
      </dd>
    </dl>
</div>
