<div class="content">
  <h3>What We've Done</h3>

  <p>Our project was a combination of two complimenting sub-projects making up the whole of The Foxtrot Fanatics</p>

  <div id="projects-block">
    <div id="upscaling-project">
      <h4>Upscaling Project</h4>
      <p>Sourcing high quality source<br>(PAL 576i 25 FPS 4:3 Aspect)<br><br>
      Developing the FoxTrot Upscaler and the Foxtrot ReporterBot<br><br>
      Upscaling source<br>(PAL 1440p 25 FPS 4:3 Aspect)<br><br>
      Muxing the audio and subtitles with the completed renders</p>
    </div>

    <div id="transcription-project">
      <h4>Transcription Project</h4>
      <p>Recording spoken dialogue and sound effects<br><br>
      Creating colored outlines for each recurring character<br><br>
      Producing <span>'.ASS'</span> formatted subtitles<br>(for <span>'.MKV'</span> videos)<br><br>
      Producing <span>'.SMI'</span> formated subtitles<br>(for YouTube)</p>
    </div>
  </div>

  <div id="projects-block">
    <div id="audio-languages">
      <h4>Audio Languages Included:</h4>
      <p>French<br>
      Spanish<br>
      Finnish</p>
    </div>

    <div id="subtitle-languages">
      <h4>Subtitles Languages Included: </h4>
      <p>English</p>
    </div>
  </div>
</div>
