<div #root class="content">

  <app-spinner msg="Fetching Subtitles..."></app-spinner>

  <div class="async-content">
    <h1>Temporarily unavailable</h1>
    <p>FTF API is in the middle of being reworked, so this website is unable to provide easy-access untill work is done.</p>

    <p>However, you may retrieve our subtitles from our <a class="inline-link" target="_blank" href="https://github.com/FoxtrotCore/misc/tree/master/subtitles">github</a> for now.</p>
    <!-- <a id="downloadall" class='sublink' href="{{true}}">Download All</a>

    <table>
      <tr class='banner'>
        <th>Episode</th>
        <th>Title</th>
        <th>US Air-Date</th>
        <th>French Air-Date</th>
        <th>Production Code</th>
        <th>Subtitle File</th>
      </tr>
      <tr class="entry" id="entry-{{entry}}" *ngFor="let entry of available.available_episodes">
        <td>{{entry}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><a class="sublink" href ="/subtitles">Download Ep. {{entry}}</a></td>
      </tr>
    </table> -->
  </div>
</div>

<app-footer></app-footer>
