.content {
  margin: 5vh auto;
  padding: 5vw;
  width: 80vw;
  background-color: rgba(220, 220, 220, 0.9);
  box-shadow: black 3em 3em 100px;
}

table, th, td {
  border: solid black 1px;
  border-collapse: collapse;
}

table { width: 100%; }
th, td { height: 50%; }

.banner { background-color: rgba(140, 140, 140, 0.9); }
.entry { background-color: rgba(140, 140, 140, 0.4); }

button { margin-bottom: 2em; }

@media (max-width: 470px) {
  .content {
    width: 100vw;
    padding: 1em 0;
    margin: 5vh auto;
    box-shadow: none;
  }

  .content p { padding: 1em 2em; }

  #buttons {
    width: 100vw;
    grid-template-areas: 'b1 b2 b3';
  }
}
